.navbar {
  
  min-width: 1263px !important ;
  background-color: none !important;
  z-index: 999 !important;
}

.navbar:hover {
 
  background-color: white !important;
  z-index: 999 !important;
}
.container:hover{
  background-color: white;
  z-index: 999 !important;
}
header:hover{
  background-color: white;
  z-index: 999 !important;
  display: block;
}
.btn-profile{
  position:relative;
  right: -25px;
}

.navs1 li{
  padding-right: 30px;
}

header{
  
  width: 100%;
}
.container{
  margin-left: unset;
  margin-right: unset;
  width: 100%;

}

.icons{
  margin-right: 10px;
}

.header_logo img{
  height: 30px;
}

.navbar1 ul{
  display: flex;
}

.navbar1 ul li{
  /* margin-right: 20px; */
  list-style-type: none;
}

.nav_icons{
  display: flex;
}

